<div class="flex items-center justify-center h-screen">
  <%= form_with model: article, local: true, html: { class: "w-full max-w-sm mx-auto bg-blue-100 p-8 rounded-lg shadow-md" } do |form| %>
    <div class="mb-4">
      <%= form.label :title, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div class="text-red-500 text-xs italic"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= form.label :body, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_area :body, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div class="text-red-500 text-xs italic"><%= message %></div>
      <% end %>
    </div>  

    <div class="mb-4">
      <%= form.label :status, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :image, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.file_field :image, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>  
    </div>

    <div class="flex items-center justify-between">
      <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" value="Submit">
      <%= link_to "Cancel", articles_path, class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800", style: "background-image: url('/images/back.png'); background-repeat: no-repeat; padding: 8px 12px 8px 30px;" %>
    </div>
  <% end %>
</div>  