<h2 class="text-2xl font-bold mb-4">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="mb-4">
    <%= f.label :password, "New password", class: "block text-gray-700 font-bold mb-2" %>
    <% if @minimum_password_length %>
      <span class="text-sm text-gray-500">(<%= @minimum_password_length %> characters minimum)</span><br />
    <% end %>
    <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation, "Confirm new password", class: "block text-gray-700 font-bold mb-2" %>
    <%= f.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", autocomplete: "new-password" %>
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit "Change my password", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>