
<meta http-equiv="refresh" content="10"> 
  <div class="bg-auto bg-center h-full relative" style="background-image: url('https://skyengine.ai/se/images/blog/WarehouseDisplacement.gif');">
    <div class="flex">
      <div class="flex-none bg-black flex items-center">
        <img src="https://www.leanios.com/assets/logo-566e5ecbf8ba49eb923491496c4190c7f541028498ffe07670c268ed018889b9.png" alt="Logo" class="h-8 w-auto mr-2">
        <span class="text-white font-bold text-lg">Leanios</span>
      </div>
      <div class="flex-1 w-64 pl-96 bg-black">
        <ul class="text-white flex">
          <li class="p-2 flex items-center"><i class="material-icons">home</i><%= link_to "HOME"%></li>
          <li class="p-2 flex items-center"><i class="material-icons">info</i><%= link_to "ABOUT"%></li>
          <li class="p-2 flex items-center"><i class="material-icons">build</i><%= link_to "SERVICE"%></li>
          <li class="p-2 flex items-center"><i class="material-icons">email</i> <%= link_to "CONTACT"%></li>
        </ul>
      </div>
      <div class="flex-1 w-32 pl-96 bg-black">
        <input class="srch border-orange-300" type="search" name="" placeholder="Type of text">
        <button class="bg-white text-white rounded-lg p-0.5"><%= link_to "Search"%></button>
      </div>
    </div>
    <div class="text-white font-['Menlo'] absolute bottom-96 inset-x-24 p-10">
    <p><i>Welcome !</p>
    </div>
    <div class="absolute text-white bottom-96 inset-x-28">
     <p>IoT Remote Monitoring Systems for Logistics and Warehouse Operations.</p>
      <p>Leanios systems will alert you if something is off at your operation. ....</p>
    </div>
    <div class="absolute w-96 h-auto opacity-50 md:opacity-100 text-center text-white right-40 bottom-60 bg-black/50 rounded-lg"> 
        <div class="bg-transparent m-1"><h2 class="text-5xl p-10"> <i>Log in </i></h2></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
      
    </div>
  </div> 

  <div class="h-full relative">
    <div class="bg-center bg-cover h-4/6 w-5/6 ml-20 absolute" style="background-image: url('https://www.rohm.com/documents/11303/7405582/IoT_2.jpg/86773da9-bf9b-7fac-2efa-e38271824c4a?t=1574925573207&imagePreview=1');">
    </div>
    <div class="absolute bottom-0 left-0 right-0 flex items-center justify-center text-black mb-16">
      <div class="text-center">
        <p><b>La mise en route est facile !</b></p>
        <p><b>La surveillance à distance est aussi simple que 1, 2, 3</b></p>
        <ul class="mt-4">
          <li><i class="material-icons">done</i>Sélectionnez les capteurs pour la surveillance à distance de votre opération logistique ou d'entrepôt.</li>
          <li><i class="material-icons">done</i>Installer. Tous les capteurs Monnit peuvent être installés en aussi peu que 15 minutes.</li>
          <li><i class="material-icons">done</i>Ayez l'esprit tranquille en sachant que vous surveillez les opérations 24h/24 et 7j/7.</li>
        </ul>
         <p><b>Vous recevrez une alerte instantanée chaque fois que les conditions tomberont en dessous ou dépasseront les seuils prédéfinis.</b></p>
      </div>
    </div>  
  </div>  
  <div class="h-full relative">  
    <div class="grid grid-col-1 gap-2 sm:grid-cols-1 md:grid-cols-4 items-center justify-center h-3/6 p-2">
    <div class="w-full rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://sp-ao.shortpixel.ai/client/q_lossless,ret_img,w_850,h_650/http://informapuae.com/wp-content/uploads/2020/02/Warehouse.png">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Température de l'entrepôt </div>
      <p class="text-gray-700 text-base">
        Vous pouvez automatiser la surveillance de la température logistique avec un capteur d'entrepôt polyvalent qui lit les températures de -40 à +125°C .
      </p>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://www.tec4med.com/wp-content/uploads/Tec4Cloud_Ubersicht-Mac-Tablet-Smartphone-1600x900.png">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Application Leanios </div>
      <p class="text-gray-700 text-base">
        Les capteurs de Leanios peuvent être configurés en 15 minutes. Une interface intuitive pour PC ou smartphone simplifie le déploiement du capteur.
      </p>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://www.tec4med.com/wp-content/uploads/TempBeacon-und-SmartHub-1.png">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Capteurs Leanios</div>
      <p class="text-gray-700 text-base">
        Avec plus de 80 types de capteurs différents (et plus), il existe une solution de surveillance pour pratiquement toutes les entreprises.
      </p>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://www.itconvergence.com/wp-content/uploads/2020/12/oracle-iot-warehouse-management.jpg">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">La surveillance à distance </div>
      <p class="text-gray-700 text-base">
        Bénéficiez de la liberté jusqu'à 1 200 pieds de portée sans fil grâce à l'une des plates-formes de capteurs les plus puissantes.
      </p>
    </div>
  </div>
     <div class="bg-auto bg-center h-3/6 w-auto items-center justify-center mt-4 mb-4 ml-4 absolute" style="background-image: url('https://skyengine.ai/se/images/blog/WarehouseDisplacement.gif');">
    </div>
  </div>